<fieldset>
  <legend>Users Search</legend>
  <input (input)="query.set($any($event.target).value)" type="search" placeholder="Search...">
</fieldset>
@if (users.isLoading()) {
  <mat-progress-bar mode="query" />
}
@if (users.error()) {
  <div class="error">{{users.error()}}</div>
}
<section class="actions">
  <button (click)="users.reload()">Reload</button>
  <button (click)="addUser()">Add User</button>
  <button (click)="users.set([])">Clear</button>
</section>
<ul>
@for (user of users.value(); track user.id) {
  <li>{{ user.name }}</li>
} @empty {
  <li class="no-data">Nothing to show</li>
}
</ul>
